# Configuration for cargo-deny
# https://embarkstudios.github.io/cargo-deny/

[advisories]
version = 2
ignore = []

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-git = []
